.row {
    max-width: none;
}

.top-bar,
.top-bar ul {
    background-color: #060;
    color: #eee;
}

.top-bar .menu a {
    color: #dfd;
}

.top-bar .menu a:hover,
.menu a.active {
    background-color: #dfd;
    color: #060;
}

.input-group {
    width: auto;
    margin: 0 1em 0 0;
}

.nowrap {
    white-space: nowrap;
}

div.date select {
    width: auto;
}

.department h4 {
    border-bottom: 1px solid #be140b;
}

.departments-total {
    border-top: 1px solid #be140b;
    padding: 0.5em;
    width: 100%;
}

@media print {
    body {
        font-size: 90%;
    }
    .column,
    .columns {
        position: relative;
        display: block;
    }
    .department {
        position: relative;
        display: block;
        page-break-inside: avoid;
        margin-bottom: 2rem;
    }
    nav,
    h3,
    a {
        display: none;
    }
    .department h4 {
        font-weight: bold;
        font-size: 125%;
        text-align: center;
        width: 100%;
    }
    .department li {
        border-bottom: 1px solid #999;
    }
}